/* Dictionary:
-----... - separate screens 
----- TEXT ----- - separate divisions in screen*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: rgb(213, 3, 3);
    --quizScreenColor: rgb(48, 107, 255);
    --secondary: #e1e5e7;
    --white: #fefefe;
    --scrollbarThumbColor: rgb(213, 3, 3);
    --scrollbarTrackColor: rgb(253, 94, 94);
}

.hint{
    display: none;
    position: absolute;
    opacity: .7;
    outline: 1000vh solid black;
}

.do-not-click-screen{    
    display: none;
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    z-index: 0;
}

.modal-hint .container{
    display: none;
    background-color: #fefefe;
    color: #131517;
    
    width: fit-content;
    min-width: 50vw;
    max-width: 80vw;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 5%;
    
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    border-radius: .5rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    font-size: 4vw;
}

.modal-hint .bottom{
    display: flex;
    gap: 80%;
    align-self: center;
    font-size: 7vw;
}

.modal-hint .bottom .button{
    padding: .5rem;
}

.modal-hint .bottom .exit-button, .modal-hint .bottom .finish-button{
    display: none;
}

.modal-hint .bottom .back-button{
    color: rgb(213, 3, 3);
}

.modal-hint .bottom .next-button, .modal-hint .bottom .finish-button{
    color: green;
}

.no-js{
    color: black;
}

body{
    position: relative;
    background-color: #f1f1f1;
    color: white;
    height: 100vh;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 4vw;
}

/** GENERAL */

.pinOnTop{
    position: fixed;
    top: 0;
}

h2, h3{
    color: #888;
}

/** ----- SCREEN ----- */

.screen{
    width: 100vw;
    height: 100vh;
    
    display: none;
    position: absolute;
    top: 0;
}





/** ----- MENU ----- */
.menu-screen{
    background-color: #f1f1f1;

    overflow-y: auto;
}

.menu-screen .title{
    font-size: 6vw;
}

.header{
    align-items: center;
}

.menu-screen .header, .about-screen .header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(245, 73, 73);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.header .top, .quiz-screen .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-screen .scroll-bar, .reference-screen .scroll-bar, .stats-screen .scroll-bar{
    background-color: white;
    height: 2vw;
    width: 100%;
}

.top .menu-button{
    display: flex;
    position: relative;
}

.top .menu-button img, .header img{
    width: 7vw;
}

.top .about{
    background-color: var(--white);
    color: #131517;

    display: flex;
    opacity: 0;
    right: 0;
    position: absolute;
    place-self: center;
    align-items: center;
    justify-content: center;
    width: 300%;
    height: 200%;

    border-radius: .2rem;
    box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.5);
}

.top .about .about-text{
    position: absolute;
    left: 0;
    padding-left: 10%;
}

.top .about-highlight{
    background-color: rgba(0, 0, 0, 0.1);
    
    display: none;
    width: 30%;
    height: 100%;
    
    border-radius: 50%;
}

.header nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    text-align: center
}

.header .nav-option{
    position: relative;
    padding: 10px;
}

.left-option, .right-option{
    position: relative;
    width: 50vw;
    display: flex;
    place-content: center;
}

.right-option{
    color: rgba(255, 255, 255, .5);
}

.left-option .option-highlight, .right-option .option-highlight{
    background-color: rgba(255, 255, 255, .2);

    height: 100%;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
}


.menu-screen .containers-wrapper, .reference-screen .containers-wrapper, .stats-screen .containers-wrapper{
    display: grid;
    width: 100vw;
}

.menu-screen .containers, .reference-screen .containers, .stats-screen .containers{
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.menu-screen .containers-wrapper ::-webkit-scrollbar, .reference-screen .containers-wrapper ::-webkit-scrollbar, .stats-screen .containers-wrapper::-webkit-scrollbar{
    height: 0;
}

.menu-screen .container, .reference-screen .container, .stats-screen .container{
    width: 100vw;
    scroll-snap-align: center;
}

.menu-screen .container{
    color: #999;
    display: flex;
    flex-direction: column;
}

.study-section{
    padding: 5% 5%;
    width: 100vw;
    display: flex;
    gap: 10%;
}

.study-section img {
    --imgSize: 15vw;
    width: var(--imgSize);
    height: var(--imgSize);
}

.study-section .description{
    align-self: center;
}

.menu-screen .progress-container{
    padding: 5% 10%;
}

.flashCard-screen ::-webkit-scrollbar{
    height: 2vw;
}

.flashCard-screen ::-webkit-scrollbar-thumb{
    background-color: #4f4e28;

    border-radius: 1vw;
}

.flashCard-screen ::-webkit-scrollbar-thumb:hover{
    background-color: #925f17;
}

@supports (scrollbar-color: #4f4e28 #dba102){
    .flashCard-screen{
        scrollbar-color: #4f4e28 #dba102;

    }

    *:not(:root){
        scrollbar-width: thin;
    }
}


/** ----- ABOUT SCREEN ----- */
.about-screen .header{
    position: initial;
    padding: 1rem;
}

.return-button{
    width: 7vw;
    height: 7vw;
    display: flex;
    place-content: center;
    position: relative;
}

.return-button-highlight{
    background-color: rgba(0, 0, 0, 0.3);

    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

.about-screen .container{
    background-color: white;

    width: 95vw;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: .2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.about-screen img{
    max-width: 30vw;
}

.about-screen .app-name{
    color: rgb(245, 73, 73);
    font-size: 6vw;
}

.about-screen .app-version{
    color: #777;
    font-size: 5vw;
}

.about-screen .red-white{
    background-color: rgb(245, 73, 73);

    width: 95%;
    padding: 1rem;
    margin: 1rem auto;

    display: block;
    position: initial;
    
    text-align: center;
    border-radius: .2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.about-screen .contacts{
    padding-top: 1rem;
    text-align: center;
}

.about-screen .contacts span{
    display: block;
}

.about-screen .contacts a{
    text-decoration: none;
}

.about-screen .contacts a img{
    height: 8vw;
    max-height: 3rem;
    width: fit-content;
}

/** ----- PROGRESS CONTAINER ----- */

.progress-container{
    width: 100%;
    margin: auto;
}
.progress-container .title{
    padding: 0;
}

.progress-container .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-bar{
    background-color: #ccc;
    width: 90%;
    height: 4px;

    --progress: 0;
    display: flex;
}

.progress-bar::before{
    content: "";
    /* background-color: rgb(14, 199, 255); */
    background-color: hsl(calc(0.6 * var(--progress) + 180), calc(-0.5% * var(--progress) + 100%), 50%);
    width: calc(var(--progress) * 1%);
}


/* ----------------------------------------------------------- */


/** ----- REFERENCE SCREEN -----  */
.reference-screen .header{
    background-color: rgb(0, 175, 117);   
}

.reference-screen .header .top, .about-screen .header, .quiz-screen .header, .stats-screen .header .top{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.reference-screen .header img, .quiz-screen .header img, .stats-screen .header .img{
    width: 7vw;
}

.reference-screen .progress-container{
    background-color: rgb(0, 175, 117); 
}

.reference-screen .progress-container, .stats-screen .progress-container{
    width: 100%;
    display: flex;
    gap: 2px;
}

.reference-screen .progress-container > div{
    background-color: #74E332;
}

.reference-screen .progress-container > div, .stats-screen .progress-container > div{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    text-align: center;
}

.scroll-progress-bar{
    width: 0;
    height: 8px;
}

.reference-screen .scroll-progress-bar{
    background-color: #348C00 ;
}

.reference-screen .container, .stats-screen .container{
    background-color: #f1f1f1;
    color: #777;

    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto auto auto auto;
}

.family-name{
    background-color: #ddd;
    text-align: center;
    padding: 8px;
}

.reference-screen .container .family, .stats-screen .container .family{
    display: flex;
}

.reference-screen .container .card, .stats-screen .container .card{
    background-color: #f1f1f1;

    width: 20vw;
    height: 23vw;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.reference-screen .card .top{
    font-size: 7.5vw;
}





/** ----- QUIZ SCREEN ----- */

.quiz-screen{
    background-color: #f1f1f1;
    height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.quiz-screen .header{
    background-color: var(--quizScreenColor);
}

.quiz-screen .container{
    color: #555;
    font-size: 5vw;

    padding: 2vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.quiz-screen .container .top{
    display: flex;
    justify-content: space-between;
}

.quiz-screen .container .wrong-counter{
    color: var(--primaryColor);
}

.quiz-screen .container .right-counter{
    color: rgb(0, 202, 0);
}

.quiz-screen .card{
    font-size: 35vw;
}


.quiz-screen .footer{
    width: 100vw;
    height: 10vw;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-self: center;
    font-size: 8vw;
}

.quiz-screen .footer input{
    background: none;
    
    width: 100%;
    height: 100%;

    opacity: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: dashed;
}

.quiz-screen .footer .text{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.quiz-screen .footer .vertical-line{
    height: 100%;
    position: absolute;
    border-left: .5vw solid #555;

    animation: showHide 1s infinite ease;
}

@keyframes showHide {
    from{opacity: 0;}
    to{opacity: 1;}
}





/** ----- STATS SCREEN ----- */
.stats-screen .header{
    background-color: var(--quizScreenColor);
}

.stats-screen .progress-container{
    background-color: var(--quizScreenColor);
}

.stats-screen .progress-container > div{
    background-color: aqua;
}

.stats-screen .scroll-progress-bar{
    background-color: rgb(0, 140, 255) ;
}

.stats-screen .container .row{
    height: 15vw;
    display: flex;
    font-size: 5vw;
}

.stats-screen .container .row > span{
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.stats-screen .container > .top{
    font-size: 4vw;
    background-color: #ddd;
    height: 9vw;
    /* padding: .5rem; */
}

.stats-screen .container .right{
    color: #348C00;
}

.stats-screen .container .wrong{
    color: var(--primaryColor);
}

/** ----- MODAL MAIN ----- */
.modal{
    color: black;
    background-color: rgba(0, 0, 0, 0.4);

    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;

    z-index: 2;
}

.modal .top{
    display: flex;
    justify-items: start;
}

.modal .container{
    width: fit-content;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}


.modal .content{
    display: flex;
    gap: 10px;
}

.checkbox-container{
    width: fit-content;
    display:flex;
    align-items: center;
    gap: 5px;

    white-space: nowrap;
    position: relative;
}

.modal .content-left, .modal .content-right{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: start;
}

.modal .content-right span{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.modal .content-right img{
    display: none;
    width: 6vw;
}

label{
    font-size: 4.2vw;
}


.checkbox{
    min-width: 5vw;
    height: 5vw;
    border: solid 2px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.checkmark{
    width: 40%;
    height: 70%;

    position: absolute;
    left: 50%;
    z-index: 1;

    border: solid white;
    border-width: 0 2px 2px 0;

    -webkit-transform: translate(-50%, -20%) rotate(40deg);
    -ms-transform: translate(-50%, -20%) rotate(40deg);
    -o-transform: translate(-50%, -20%) rotate(40deg);
    -moz-transform: translate(-50%, -20%) rotate(40deg);
    transform: translate(-50%, -20%) rotate(40deg);  
}

.checkmark-circle{
    width: 2vw;
    height: 2vw;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
}





/** -------------------- GAME START SCREEN -------------------- */

.game-start-screen{
    background: linear-gradient(180deg, rgb(19, 21, 23, 1) , #131517);
    color: white;
    
    height: 100vh;
    display: none;
    flex-direction: column;
    overflow-x: auto; 
    overflow-y: hidden;
    z-index: 0;
}

.game-start-screen .top, .game-start-screen .bottom{
    height: 50vh;
}

.game-start-screen .top{
    overflow: hidden;
    text-align: center;
}

.game-start-screen .top > img{
    height: 50vh;

    opacity: .2;

    transform: rotate(-45deg) scale(2);
    -o-transform: rotate(-45deg) scale(2);
    -ms-transform: rotate(-45deg) scale(2);
    -moz-transform: rotate(-45deg) scale(2);
    -webkit-transform: rotate(-45deg) scale(2);
}

.game-start-screen .top .head{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 1rem;
}

.game-start-screen .top .head .settings-icon-container{
    display: flex;
    align-items: center;
}

.game-start-screen .top .head .settings-icon-container img{
    width: 7vw;
    filter: invert();
}

.game-start-screen .top .score{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;

    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    
    border: 1px solid;
    border-radius: 5%;
}

.game-start-screen .top .score .best{
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;    
}

.game-start-screen .top .return-button{
    align-self: center;
}

.game-start-screen .top .score .result{
    color: white;
}

.green{
    color: rgb(81, 255, 0);
}

.game-start-screen .bottom{
    box-shadow: -15rem -5vh 10vh #131517, -5rem -5vh 10vh #131517, 5rem -5vh 10vh #131517, 15rem -5vh 10vh #131517;
    z-index: 1;
}

.game-start-screen .bottom .container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: auto;
    text-align: center;
}

.game-start-screen .bottom .text{
    width: 60vw;
    display: block;
    margin: auto;
    text-align: left;
}

.game-start-screen .bottom .game-title{
    display: block;
    font-size: 8vw;
}

.game-start-screen .bottom .text .game-description{
    font-size: 2vw;
}

.game-start-screen .bottom .options{
    display: flex;
    justify-content: space-around;
}

.game-start-screen .bottom .button{
    padding: 1.5rem;
    border-radius: .8rem;
}

/** -------------------- GAME SETTINGS MODAL ---------- */

.game-configuration-modal {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
}

.game-configuration-modal .container{
    position: relative;

    background-color: #BBC1E1;
    color: black;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 1;
    padding: 1rem;

    border-radius: 0rem 0rem 1rem 1rem;

    box-shadow: 0px 4px 20px #637afa;
}

.game-configuration-modal .time-container{
    display: flex;
    gap:2rem;
}

.game-configuration-modal .time-container input{
    width: 3.5rem;
    outline-style: none;
    border: 1px solid #555;
}

.game-configuration-modal .dimension-container .dimension{
    display: inline-block;
    padding: .3rem;

    border: 1px solid #333;
    border-radius: .3rem;

}

.game-configuration-modal .animation-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.game-configuration-modal .switch{
    background-color: #fff;
    
    display: flex;
    position: relative;
    height: 1.5rem;
    width: 2.5rem;
    
    padding: .2rem;
    border: 1px solid #BBC1E1;
    border-radius: 1rem;
    cursor: pointer;
}

.game-configuration-modal .switch .ball{
    display: block;

    width: 50%;
    height: 100%;

    border-radius: 100%;

    margin-left: 50%;
}

.game-configuration-modal .button-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.game-configuration-modal .button{
    position: relative;
    border-radius: .8rem;
    
    cursor: pointer;
}

.game-configuration-modal .button:hover{
    filter: brightness(110%);
}

.game-configuration-modal .button .shadow{
    background-color: hsl(0deg 0% 0% / 0.25);

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    border-radius: .8rem;

    z-index: -1;
    transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px) ;
    -moz-transform: translateY(2px) ;
    -webkit-transform: translateY(2px) ;
}

.game-configuration-modal .button:hover .shadow{
    transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px) ;
    -moz-transform: translateY(4px) ;
    -webkit-transform: translateY(4px) ;

    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.game-configuration-modal .button:hover .front{
    transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px) ;
    -moz-transform: translateY(-6px) ;
    -webkit-transform: translateY(-6px) ;

    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.game-configuration-modal .button:active .shadow{
    transform: translateY(1px);
    -o-transform: translateY(1px);
    -ms-transform: translateY(1px) ;
    -moz-transform: translateY(1px) ;
    -webkit-transform: translateY(1px) ;

    transition: transform 34ms;
}

.game-configuration-modal .button:active .front{
    transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px) ;
    -moz-transform: translateY(-2px) ;
    -webkit-transform: translateY(-2px) ;

    transition: transform 34ms;
}

.game-configuration-modal .button .front{
    background-color: #348C00;
    color: #e1e5e7;

    display: block;
    padding: 1rem 2rem;
    border-radius: .8rem;

    transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px) ;
    -moz-transform: translateY(-4px) ;
    -webkit-transform: translateY(-4px) ;

    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

/** -------------------- MODAL CUSTOM -------------------- */

.modal-custom .container{
    height: fit-content;
}

.modal-custom .content{
    max-height: 50vw;
    width: 100%;
    flex-direction: column;

    overflow-y: auto;
    
    padding-right: 5vw;
    padding-left: 5vw;     /*! The checkmark circle of the checkboxes of the modal custom are not overflowing the modal-container. This is for fix it! */
}

.modal-custom .family{
    display: flex;
    gap: 10px;
    align-items: center;
}

.modal ::-webkit-scrollbar{
    width: 2vw;
}

.modal ::-webkit-scrollbar-track{
    background-color: var(--scrollbarTrackColor);
    border-radius: 1vw;
    margin-block: 5px;
}

.modal ::-webkit-scrollbar-thumb{
    background-color: var(--scrollbarThumbColor);
    border: 2px solid var(--scrollbarTrackColor);
    border-radius: 1vw;
}

.modal ::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 0, 0, 0.7);
}

@supports (scrollbar-color:var(--scrollbarThumbColor) var(--scrollbarTrackColor)){
    .modal{
        scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarTrackColor);

    }

    *:not(:root){
        scrollbar-width: thin;
    }
}

@media screen and (min-width: 300px) {
    .modal .container{    
        gap: 20px;
        padding: 4vw;
    }

    .modal .content{
        display: flex;
        gap: 1vw;
    }

    .checkbox-container{
        gap: 8px;
    }

}

.modal .bottom{
    color: var(--primaryColor);

    display: flex;
    justify-content: space-between;
}

.modal .bottom span{
    padding: 8px;
}

.highlight-grey{
    animation: highlightGrey .3s;
}

@keyframes highlightGrey {
    from{ background-color: #ddd;}
    to{background-color: var(--white)}
}

/* ------- FLASH CARD SCREEN ------- */
.flashCard-screen{
    background-color: #f5bd23;
    color: black;

    place-items: center;
}

.flashCard-screen .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 4vw;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.flashCard-screen .top .return-button img{
    width: 4vw;
    filter: invert();
}


.items-wrapper{
    display: grid;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.flashCard-screen .items{
    display: flex;

    gap: 2rem;
    padding: 0 2rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    --scrollBehavior: smooth;
    scroll-behavior: var(--scrollBehavior);
}

.flashCard {
    flex: none;

    width: 100%;
    height: 100vw;
    max-height: 55vh;
    position: relative;

    scroll-snap-align: center;
    
    transform-style: preserve-3d;
    transition: transform .5s;
}

.flashCard-front,.flashCard-back{
    background-color: rgb(252, 255, 180);

    display: flex;
    place-content: center;
    align-items: center;

    font-size: 20vw;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    backface-visibility: hidden;

}

.flashCard-back{
    transform: rotateY(180deg);
}

.flashCard-screen ::-webkit-scrollbar{
    height: 2vw;
}

.flashCard-screen ::-webkit-scrollbar-thumb{
    background-color: #4f4e28;

    border-radius: 1vw;
}

.flashCard-screen ::-webkit-scrollbar-thumb:hover{
    background-color: #925f17;
}

@supports (scrollbar-color: #4f4e28 #dba102){
    .flashCard-screen{
        scrollbar-color: #4f4e28 #dba102;

    }

    *:not(:root){
        scrollbar-width: thin;
    }
}




/** ----- MODAL QUIZ ----- */

.modal-quiz .container{
    gap: 2rem;
}

.modal-quiz .content{
    gap: 0.5rem;
}

.modal-quiz .content .container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap:0;
    padding: 0;
    
    box-shadow: none;
}

.modal-quiz .content .container .top{
    color: white;

    display: flex;
    justify-content: center;
    padding: 2vw;
    border-radius: .5rem .5rem 0 0;
}

.modal-quiz .content .container .bottom{
    display: flex;
    justify-content: center;
    padding: 4vw;
    
    font-size: 7vw;
    border-radius: 0 0 .5rem .5rem;
}

.modal-quiz .content .right-container .top{
    background-color: rgb(34, 172, 0);
}

.modal-quiz .content .right-container .bottom{
    background-color: rgba(34, 172, 0, 0.15);
    color: rgb(34, 172, 0);
}

.modal-quiz .content .wrong-container .top{
    background-color: rgb(213, 3, 3);
}

.modal-quiz .content .wrong-container .bottom{
    background-color: rgba(213, 3, 3, 0.15);
    color: rgb(213, 3, 3);
}

.modal-quiz .content .score-container .top{
    background-color: rgb(82, 81, 81);
}
.modal-quiz .content .score-container .bottom{
    background-color: rgba(82, 81, 81, 0.15);
    color: rgb(82, 81, 81);
}


.modal-quiz .button{
    color: var(--quizScreenColor);
}

/* ----------------------------------------------------------- */

/** ----- GAME ----- */

.game {
    z-index: 2;
}

.game .top .time-container{
    position: relative;
}

.game .top .bonus-time{
    display: none;
    position: absolute;
    right: -3rem;
}

.match-maker-screen, .eye-spy-screen{   
    left: 0;
    right: 0;
    justify-items: center;
    align-items: center;
}

.match-maker-screen .top, .eye-spy-screen .top{
    width: 95vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eye-spy-screen .top .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eye-spy-screen .sorted-card{
    color: #131517;
    background-color: rgb(29, 225, 251);

    padding: 2rem;
    border-radius: 0 0 .8rem .8rem;
    font-size: 8vw;
}


/** BOARD SCREEN */
.board{
    display: grid;

    grid-template-columns: auto auto auto auto;
    gap: .8rem;
    align-self: start;
}

.eye-spy-screen .board{
    grid-template-columns: auto auto auto auto ;
}

.match-maker-screen .card, .eye-spy-screen .card{
    width: 15vw;
    height: 15vw;

    position: relative;
}

.match-maker-screen .card{
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* 
@-moz-document url-prefix(){
    .card{
        backface-visibility: hidden;
    }
} */

.match-maker-screen .card-front, .match-maker-screen .card-back, .eye-spy-screen .card-front, .eye-spy-screen .card-back{
    width: 100%;
    height: 100%;

    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;

    border-radius: 2vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    backface-visibility: hidden;

    font-size: 5vw;
}

.match-maker-screen .card-back{
  background-color: var(--primaryColor);
  color: var(--secondary);
  transform: rotateY(180deg);
}

/* ------------------------------------------------------------- */

/** --------------- GAME OVER SCREEN ---------------*/
.gameOver-screen{
    background-color: rgba(0, 0, 0, 0.3);
    
    width: 100%;
    height: 100%;
    
    display: none;
    top: 0;
    position: absolute;
    z-index: 2;
    
    place-items: center;
    align-content: center;
    justify-items: center;
    
    text-align: center;
}
.gameOver-screen .container{
    background-color: blue;
    
    width: 95vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 1rem;

    border-radius: .8rem;
    font-size: 7vw;
}

.gameOver-screen .container .top{
    font-size: 6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.gameOver-screen .container .content .matches{
    font-size: 8.5vw;
}

.gameOver-screen .container .moves{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;

}

.orange{
    color: orange;
}

.gameOver-screen button{
    background-color: red;
    color: white;

    width: 6em;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: .3em;

    font-size: .6em;
}

.no-select{
    -ms-touch-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/** --------------- MEDIA QUERIES ---------------  */

@media screen and (min-width: 420px){
    body{
        font-size: 3.5vw;
    }

    .header .top{
        padding: 5%;
    }
    
    .header .menu-screen-nav > div{
        padding: 1vw;
    }

    .header .scroll-bar{
        height: 1vw;
    }

    .menu-screen .study-section img{
        --imgSize: 12vw;
    }
    
    .menu-screen .study-section{
        padding: 3%;
    }

    .menu-screen .progress-container{
        padding: 3%;
    }

}


@media screen and (min-width: 768px){
    .modal-hint .container{
        font-size: 1.5vw;
        padding: 2.5%;
        gap: 2rem;
    }

    .modal-hint .bottom{
        font-size: 2vw;
    }

    body{
        font-size: 1.5vw;
    }

    .header .top{
        padding: .5vw;
    }
    
    .header .return-button{
        width: 2.5vw;
        height: 2.5vw;
    }
    
    .header .title{
        font-size: 2vw;
    }

    .header .nav-option, .header .menu-screen-nav > div{
        padding: 0;
    }

    .header .scroll-bar{
        height: .5vw;
    }

    
    .menu-screen .menu-button{
        width: 3vw;
    }

    .menu-screen .study-section{
        gap: 4vw;
        padding: 1vw;
    }

    .menu-screen .study-section img{
        --imgSize: 5vw;
    }
  
    .menu-screen .containers{
        padding-top: 1vw;
    }
    
    .menu-screen .progress-container{
        padding: 1vw;
        padding-right: 8vw;
    }

    .menu-screen .progress-container h3{
        font-size: 2.5vw;
    }

    /** --------------- ABOUT SCREEN --------------- */

    .about-screen .app-name, .about-screen .app-version{
        font-size: 2.5vw;
    }

    /** --------------- REFERENCE SCREEN --------------- */
    
    .reference-screen .family{
        margin: auto;
        width: 80vw;
        justify-content: space-between;
    }
    
    .reference-screen .family .card{
        width: 6vw;
        height: 8vw;
        font-size: 1.5vw;
    }

    .reference-screen .card .top{
        font-size: 2.5vw;
        
    }
    
    /** --------------- MODAL --------------- */
    
    .modal{
        font-size: 2vw;
    }
    
    .modal .content label{
        font-size: 2.5vw;
    }
    
    .modal .content .checkbox-container .checkbox{
        min-width: 2vw;
        height: 2vw;
    }

    .modal .content .checkbox-container .checkmark{
        width: 40%;
        height: 70%;
    }
    
    .modal .content .content-right img{
        width: 3vw;
        height: 3vw;
    }

    .modal-custom .container .content{
         max-height: 25vw;
    }

    .modal-custom .checkbox{
        min-width: 2vw;
        height: 2vw;
    }
    
    /** --------------- FLASH CARD SCREEN --------------- */
    .flashCard-front, .flashCard-back{
        font-size: 15vw;
        width: 90vw;
        margin: auto;
    }
    
    .flashCard{
        margin: auto;
        justify-content: center;
        align-items: center;
    }
   
    /** --------------- QUIZ SCREEN --------------- */
    
    .quiz-screen .container{
        font-size: 2vw;
    }
    
    .quiz-screen .footer{
        font-size: 5vw;
    }
    .quiz-screen .footer{
        height: 5vw;
    }
    
    .quiz-screen .container .card{
        font-size: 10vw;
    }
    
    /** --------------- QUIZ MODEL --------------- */

    .modal-quiz .container{
        font-size: 2vw;
    }
    .modal-quiz .container .content .bottom{
        font-size: 3vw;
    }

    /** --------------- STATS SCREEN --------------- */
    
    
    .stats-screen .containers .container .row{
        height: 4vw;
        font-size: 1vw;
        justify-content: space-around;
    }
    
    /** --------------- GAME START SCREEN --------------- */
    
    .game-start-screen .top > img{
        width: 60vw;
        height: auto;
    }

    .game-start-screen .top .head{
        font-size: 2vw;
    }
    
    .game-start-screen .top .head img, .game-start-screen .top .head .settings-icon-container img{
        width: 4vw;
    }
    
    .game-start-screen .bottom .text .game-title{
        font-size: 5vw;
    }
    
    .game-start-screen .bottom .options .checkbox{
        min-width: 2vw;
        height: 2vw;
    }
    
    .game-start-screen .bottom .options .checkbox-container{
        font-size: 2.5vw;
    }
    
    /** --------------- GAME START SCREEN --------------- */
    
    .game-configuration-modal .animation-container{
        width: 30%;
    }
    
    /** --------------- GAME SCREEN --------------- */
    
    .eye-spy-screen{
        font-size: 3vw;
    }
    
    .eye-spy-screen .top .sorted-card{
        font-size: 4.5vw;
    }

    .eye-spy-screen .board .card{
        width: 6vw;
        height: 6vw;
    }
    
    .eye-spy-screen .board .card-front{
        border-radius: 1vw;
        font-size: 2.5vw;
    }
    
    /** --------------- GAME OVER SCREEN --------------- */

    .gameOver-screen .container, .gameOver-screen .container .top, .gameOver-screen .container .moves{
        font-size: 2.5vw;
    }

    .gameOver-screen .container .content{
        font-size: 3vw;
    }
    
    .gameOver-screen .container .content .green{
        font-size: 3.5vw;
    }
    
    .gameOver-screen .container button{
        width: fit-content;
    }
}